body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.red { color: red; }
.blue { color: blue; }


h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    width: 200px;  /* or whatever fits */
    margin: 5px auto;
}
li:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}

